body {
    background-color: #F8F8F8; /* Um cinza claro suave */
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #333333; /* Um cinza escuro */
}
/* Estilos para o link "Voltar para a Home" */
.link-voltar {
    display: block;
    margin-bottom: 20px;
    color: #007bff; /* Azul vibrante */
    text-decoration: none; /* Sem sublinhado */
    font-weight: bold;
    text-align: left;
    max-width: 500px; /* Limita a largura para ficar alinhado aos módulos */
    width: 90%;
}

/* Estilos para o Rodapé */
footer {
    margin-top: 40px;
    padding: 10px;
    font-size: 0.8em; /* Letra menor */
    color: #999999; /* Cinza claro */
    text-align: center;
    width: 100%;
}
